@tailwind base;
@tailwind components;
@tailwind utilities;
 
html, body, :root{
  height: 100%;
}
@layer base {
  :root {
    --branding:hsl(220, 65%, 30.6%); 
    --branding-second: hsl(342, 67%, 55%); 
    --branding-third: hsl(12, 100%, 60%); 

    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);

    --card: hsl(212, 25%, 90%);
    --card-foreground: hsl(222.2, 84%, 4.9%);
 
    --popover: hsl(212, 25%, 90%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);
 
    --primary: hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: hsl(212, 25%, 90%);
 
    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
 
    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);
 
    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);
 
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(212, 25%, 90%);

    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);
    --ring: hsl(222.2, 84%, 4.9%);
 
    --radius: 0.5rem;
  }
 
  .dark {
    --branding:hsl(220, 65%, 30.6%); 
    --branding-second: hsl(342, 67%, 55%); 
    --branding-third: hsl(12, 100%, 60%); 

    --background: hsl(222.2, 84%, 4.9%);
    --foreground: hsl(212, 25%, 90%);
 
    --card: hsl(217.2, 32.6%, 17.5%);
    --card-foreground: hsl(212, 25%, 90%);
 
    --popover: hsl(222.2, 84%, 4.9%);
    --popover-foreground: hsl(212, 25%, 90%);
 
    --primary: hsl(212, 25%, 90%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);
 
    --secondary: hsl(217.2, 32.6%, 17.5%);
    --secondary-foreground: hsl(212, 25%, 90%);
 
    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);
 
    --accent: hsl(217.2, 32.6%, 17.5%);
    --accent-foreground: hsl(212, 25%, 90%);
 
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(212, 25%, 90%);
 
    --border: hsl(212.7, 26.8%, 83.9%);
    --input: hsl(217.2, 32.6%, 17.5%);
    --ring: hsl(212.7, 26.8%, 83.9%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.badge{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .7rem !important;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  text-align: center;
  border-radius: .2rem;
  margin-top: .9rem;
  margin-bottom: .9rem;
  cursor: default;
  border: none;
  line-height: .7rem;
}

.user {
  background-color: #4d8b31;
}

.admin {
  background-color: #942986;
}
 .client {
  background-color: #1072f1;
}

.customScroll::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.4rem;
  /* z-index: 99; */
}

/* Track */

.customScroll:-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

.customScroll::-webkit-scrollbar-thumb {
  background: #1072f1;
  border-radius: 1rem;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: #75abf1;
}
